*{
    background-color-dark: #77300d;
    background-color-light:/*
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);*/
        linear-gradient(to right, #3f2416, #e5723b);
}
/*#e5723b*/
.choice-box {    
    -fx-background-color: background-color-light;
    -fx-font: 14px Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #e8e4e3;
    
}

.choice-box .context-menu { 
    -fx-background-color: background-color-light;
}

.choice-box .menu-item:focused { 
    -fx-background-color: background-color-dark;
}

.choice-box .label {
    -fx-text-fill: white;
}

.choice-box:hover {
        -fx-background-color:         
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
}