*{
    background-color-dark: #77300d;
    background-color-light: linear-gradient(to right, #3f2416, #e5723b);
}
.root {
    -fx-background-color: background-color-light;
}

.split-pane {
    -fx-background-color: background-color-light;
}

.menu-bar {
    -fx-background-color: background-color-light;
}



